---
import Section from "../Section.astro";

import { getI18N } from '../../pages/i18n';

const { currentLocale } = Astro
const i18n = getI18N({ currentLocale })

const works = Array.isArray(i18n?.work) ? i18n.work : [];

let sectionTitle = currentLocale === 'es' ? "Experiencia" : "Work Experience";
---

<Section title={sectionTitle}>

    <ul>
        {
            works.map(
              ({ name, startDate, endDate, position, summary,}) => {
                const startYear = new Date(startDate).getFullYear()
                const endYear =
                  endDate != null ? new Date(endDate).getFullYear() : "Actual"

                  return(
                    <li>
                        <article>
                            <header>
                                <div>
                                    <h3>{name}</h3>
                                    <h4>{position}</h>
                                </div>
                                <div>
                                    <time datetime={startDate}data-title={startDate}>{startYear}</time>
                                    <span>{" - "}</span>
                                    <time datetime={endDate}data-title={endDate}>{endYear}</time>
                                </div>
                            </header>
                            <footer>
                                <p>{summary}</p>
                            </footer>
                        </article>
                    </li>

                    )
            
                }
            )
        }
    </ul>

</Section>


<style>

    ul {
        display: flex;
        flex-direction: column;
        gap: 32px;
    }

    article h3{
        font-weight: 500;
        color: var(--color-artticle-h3);
    }

    article h4{
        font-weight: 400;
    }

    header {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        margin-bottom: 4px;
    }

    time{
        color: var(--color-time);
        font-size: 0.85;
    }

    span{
        color: var(--color-t-sep);
    }

    :root{
    /*experience*/
    --color-artticle-h3:#111; /* color del titulo */
    --color-article-h4:#222; /* color del sub titulo*/
    --color-time:#555; /* color de las fechas*/
    }

    :root[data-theme="dark"]{
    /*experience*/
    --color-artticle-h3: #eee; /* color del titulo */
    --color-article-h4: #ddd; /* color del sub titulo */
    --color-time: #999; /* color de las fechas */
    --color-t-sep: #ffdead; /*color titulos */
    }

</style>


