---
import Section from "../Section.astro"

import { projects } from "../../../cv.json"

import { getI18N } from '../../pages/i18n';

const { currentLocale } = Astro
const i18n = getI18N({ currentLocale })

const projects2 = Array.isArray(i18n?.projects) ? i18n.projects : [];

let sectionTitle = currentLocale === 'es' ? "Proyectos" : "Projects";
---

<Section title={sectionTitle}>
    <ul>
      {
        projects2.map(
          ({ url, description, highlights, name, isActive}) => {
            return (
              <li>
                <article>
                    <h3>
                        <a href={url} target="_blank" title={`Ver el proyecto ${name}`}>
                    {name}
                    </a>
                    {isActive && <span>•</span>}
                    </h3>
                    <p>{description}</p>
                  </header>
                  <footer>
                    {highlights.map((highlight) => {
                      return <span>{highlight}</span>
                    })}
                  </footer>
                </article>
            </li>
            )
          }
        )
      }
    </ul>
  </Section>


  <style>
    ul {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        gap: 1rem;
    }

    article {
        background-color: var(--background-article);
        border-radius: 8px;
        border: 1px solid var(--border-article);
        gap: 16px;
        display: flex;
        flex-direction: column;
        padding: 16px;
        height: 100%;
    }

    article header {
        flex: 1;
    }

    article h3 {
        margin-bottom: 4px;
    }

    article a {
        color: var(--color--article-a);
    }

    article a:hover {
        text-decoration: underline;
    }

    article p {
        font-size: 1rem;
        line-height: 1.2rem;
        margin-bottom: 4px;
    }

    article h3 span {
        color: var(--color-article-h3-);
        animation-name: flicker;
        animation-duration: 3s;
        animation-timing-function: ease-in;
        animation-iteration-count: infinite;
    }

    footer {
        display: flex;
        flex-wrap: wrap;
        gap: 4px;
        font-size: 0.6rem;
    }

    footer span {
    border-radius: 6px;
    background: var(--artice-footter-span);
    color: var(--article-span-color);
    font-size: 0.6rem;
    font-weight: 500;
    padding: 0.2rem 0.6rem;
  }

  :root{
        /*proyects*/
    --background-article: #fff; /*fondo de los proyectos*/
    --border-article:  #f2f2f2; /*borde de los proyectos*/
    --color--article-a:#111; /*nombre del proyecto/link*/
    --color-article-h3-:rgb(0, 188, 47);/*color circulo proyecto activo */
    --artice-footter-span:#eee; /* fondo de "en desarrollo" */
    --article-span-color:#444; /* color de letra de "en desarollo" */
  }

  :root[data-theme="dark"]{
        /*proyects*/
      --background-article: #333; /* fondo de los proyectos */
    --border-article: #444; /* borde de los proyectos */
    --color--article-a: #ccc; /* nombre del proyecto/link */
    --color-article-h3-: #00ff7f; /* color circulo proyecto activo */
    --artice-footter-span: #444; /* fondo de "en desarrollo" */
    --article-span-color: #eee; /* color de letra de "en desarollo" */
  }

  </style>


